***Read From Record.json File***

In [70]:
import json #to input JSON libraries
fp=open('record.json','r')
fdata=fp.read()
fp.close()

#to convert data from string to dictionaries
record=json.loads(fdata)

***Purchase,Generating Bill & Printing on a File Updating records Managing sales etc***

In [99]:
import time #to perform time operations

#printing bill in text file
bill=open('Bill.txt','w')

#performing functionalities
print('*****************WELCOME TO PURCHASING THE GOODS****************')
user_name=input('Enter your Name ')
phone=input('Enter the Contact Number ')

bill.write('**********************************\n'+'BILL generated for ' + user_name )
bill.write( ' at '+ time.ctime() +'\n**********************************\n')
print('--------------------------')
print('###SALES OFFER:###\nBuying more than 1 products: 5% discount\nBuying more than 10 products: 15% discount\nBuying more than 20 products: 30% discount')
num=int(input('Enter the number of products you want to purchase '))
print('Bill of {} is given below:'.format(str(user_name)))

bill.write("Total Items purchased {}\n".format(num))

t_bill=0
doc={}
if len(sales)==0:
  sales={}
  
for i in range(num):
  prod_id=input('Enter the Product ID of the item to be purchased ')
  prod_qty=int(input('Enter the Product Quantity of the item to be purchased '))
  print('==============================================')
  print('Product  : ',record[prod_id]['a_name'])
  print('Company  : ',record[prod_id]['company'])
  print('Price    : ',record[prod_id]['price'])
  print('Quantity : ',prod_qty)
  print('Mfg.Date : ',record[prod_id]['y_Mfg.Date'])
  print('Exp.Date : ',record[prod_id]['z_Exp.Date'])
  if prod_qty<=record[prod_id]['quantity']:
    record[prod_id]['quantity']=record[prod_id]['quantity']-prod_qty
  else:
    print('!!!!!!! Sorry not in stock. Try for Another !!!!!!!!1')
  print('Amount  : ₹',prod_qty*int(record[prod_id]['price']))
  t_bill+=prod_qty*int(record[prod_id]['price'])

  bill.write("============================\n")
  bill.write("Product ID: {}\n".format(str(prod_id)))
  bill.write("Product Name: {}\n".format(record[prod_id]['a_name']))
  bill.write("Product Company : {}\n".format(record[prod_id]['company']))
  bill.write("Product Price: {}\n".format(record[prod_id]['price']))
  bill.write("Product Quantity : {}\n".format(prod_qty))
  bill.write("Amount : {}\n".format(prod_qty*int(record[prod_id]['price'])))
      
  doc[len(doc)+1]={'ID':prod_id, 'Quantity':prod_qty, 'Amount':int(record[prod_id]['price'])*prod_qty, 'Purchase Time':time.ctime(), 'User Contact':phone} 
print('---------------------------')  
print('Total Amount : ₹',t_bill)
if num>1 and num<=10:
  disc=t_bill-(t_bill*0.05)
  print('After 5% discount-->') 
elif num>10 and num<=20:
  disc= t_bill-(t_bill*0.15)
  print('After 15% discount-->')
elif num>20:
  disc=t_bill-(t_bill*0.3) 
  print('After 30% discount')
else:
  disc=t_bill  
print('Paying Amount : ₹',disc)
bill.write("------------------------\nTotal Bill : {}\n".format(int(t_bill)))
bill.write("Bill after Discount------------->\n")
bill.write("Paying Amount : {}\n".format(int(disc)))
bill.write("------------------THANKS FOR COMING.HAVE A GOOD DAY---------------")
bill.close()

*****************WELCOME TO PURCHASING THE GOODS****************
Enter your Name Upendra Pratap Singh
Enter the Contact Number XXXXXXX122
--------------------------
###SALES OFFER:###
Buying more than 1 products: 5% discount
Buying more than 10 products: 15% discount
Buying more than 20 products: 30% discount
Enter the number of products you want to purchase 3
Bill of Upendra Pratap Singh is given below:
Enter the Product ID of the item to be purchased 1001
Enter the Product Quantity of the item to be purchased 1
==============================================
Product  :  Choco Cake
Company  :  Cadbury
Price    :  100
Quantity :  1
Mfg.Date :  16-10-2020
Exp.Date :  7-5-2021
Amount  : ₹ 100
Enter the Product ID of the item to be purchased 1002
Enter the Product Quantity of the item to be purchased 1
==============================================
Product  :  Milk Cake
Company  :  KitKat
Price    :  800
Quantity :  1
Mfg.Date :  5-9-2020
Exp.Date :  12-3-2021
Amount  : ₹ 800
Enter the Product ID of the item to be purchased 1003
Enter the Product Quantity of the item to be purchased 3
==============================================
Product  :  Dark Chocolate
Company  :  Amul
Price    :  120
Quantity :  3
Mfg.Date :  12-02-2020
Exp.Date :  13-05-2020
Amount  : ₹ 360
---------------------------
Total Amount : ₹ 1260
After 5% discount-->
Paying Amount : ₹ 1197.0

***Updating Record in JSON***

In [100]:
js=json.dumps(record)
fd=open('record.json','w')
fd.write(js)
fd.close()

***Sales JSON (Creating & Updating)***

In [101]:
sl=open('sales.json','w')
sales[len(sales)+1]={'Transaction':doc} 
fpp=json.dumps(sales)
sl.write(fpp)
sl.close()

***Updated File Overwiew***

In [88]:
record

{'1001': {'a_name': 'Choco Cake',
  'company': 'Cadbury',
  'price': 100,
  'quantity': 34,
  'y_Mfg.Date': '16-10-2020',
  'z_Exp.Date': '7-5-2021'},
 '1002': {'a_name': 'Milk Cake',
  'company': 'KitKat',
  'price': 800,
  'quantity': 100,
  'y_Mfg.Date': '5-9-2020',
  'z_Exp.Date': '12-3-2021'},
 '1003': {'a_name': 'Dark Chocolate',
  'company': 'Amul',
  'price': '120',
  'quantity': 762,
  'y_Mfg.Date': '12-02-2020',
  'z_Exp.Date': '13-05-2020'},
 '1004': {'a_name': 'Galaxy',
  'company': 'Cola',
  'price': '560',
  'quantity': 85,
  'y_Mfg.Date': '05-03-2020',
  'z_Exp.Date': '18-09-2020'},
 '1005': {'a_name': 'Perk',
  'company': 'Cadbury',
  'price': '55',
  'quantity': 180,
  'y_Mfg.Date': '10-01-2020',
  'z_Exp.Date': '12-06-2020'},
 '1006': {'a_name': 'Friberg',
  'company': 'Parle',
  'price': '120',
  'quantity': 150,
  'y_Mfg.Date': '06-04-2020',
  'z_Exp.Date': '11-11-2020'},
 '1007': {'a_name': 'One Bar',
  'company': 'Nestle',
  'price': '60',
  'quantity': 500,
  'y_Mfg.Date': '13-05-2020',
  'z_Exp.Date': '19-11-2020'},
 '1008': {'a_name': 'Chuckles',
  'company': 'Lotus',
  'price': '600',
  'quantity': 453,
  'y_Mfg.Date': '30-12-2020',
  'z_Exp.Date': '15-05-2021'},
 '1009': {'a_name': 'snickers',
  'company': 'Mars',
  'price': '40',
  'quantity': 650,
  'y_Mfg.Date': '12-11-2020',
  'z_Exp.Date': '24-06-2021'},
 '1010': {'a_name': 'ChocOn',
  'company': 'Mahak',
  'price': '210',
  'quantity': 160,
  'y_Mfg.Date': '07-05-2020',
  'z_Exp.Date': '23-08-2020'},
 '1011': {'a_name': 'Fun Fan',
  'company': 'Campo',
  'price': '51',
  'quantity': 627,
  'y_Mfg.Date': '05-12-2020',
  'z_Exp.Date': '29-06-2021'},
 '1012': {'a_name': 'Kinder Joy',
  'company': 'Ferrero',
  'price': '60',
  'quantity': 850,
  'y_Mfg.Date': '21-01-2020',
  'z_Exp.Date': '16-07-2020'},
 '1013': {'a_name': 'Brookside',
  'company': 'Hershey',
  'price': '141',
  'quantity': 246,
  'y_Mfg.Date': '14-08-2020',
  'z_Exp.Date': '15-02-2021'},
 '1014': {'a_name': 'Chocolate',
  'company': 'Pasari',
  'price': '475',
  'quantity': 951,
  'y_Mfg.Date': '09-09-2020',
  'z_Exp.Date': '12-12-2020'},
 '1015': {'a_name': 'Choco Pie',
  'company': 'Lotte',
  'price': '25',
  'quantity': 980,
  'y_Mfg.Date': '03-04-2020',
  'z_Exp.Date': '05-06-2020'},
 '1016': {'a_name': 'Milky Bar',
  'company': 'Nestle',
  'price': '15',
  'quantity': 997,
  'y_Mfg.Date': '01-01-2020',
  'z_Exp.Date': '16-09-2020'},
 '1017': {'a_name': 'Eclairs',
  'company': 'CandyMan',
  'price': '42',
  'quantity': 563,
  'y_Mfg.Date': '17-11-2020',
  'z_Exp.Date': '15-04-2021'},
 '1018': {'a_name': 'Kismi Bar',
  'company': 'Parle',
  'price': '45',
  'quantity': 870,
  'y_Mfg.Date': '04-07-2020',
  'z_Exp.Date': '31-12-2020'},
 '1019': {'a_name': 'Treat',
  'company': 'Campo',
  'price': '30',
  'quantity': 348,
  'y_Mfg.Date': '08-07-2020',
  'z_Exp.Date': '09-03-2021'},
 '1020': {'a_name': 'Twix',
  'company': 'Mars',
  'price': '78',
  'quantity': 456,
  'y_Mfg.Date': '01-03-2020',
  'z_Exp.Date': '10-10-2020'},
 '1021': {'a_name': 'Almond Bar',
  'company': 'Amul',
  'price': '65',
  'quantity': 350,
  'y_Mfg.Date': '10-04-2020',
  'z_Exp.Date': '05-10-2020'},
 '1022': {'a_name': 'Kajoos',
  'company': 'Lotus',
  'price': '16',
  'quantity': 254,
  'y_Mfg.Date': '09-04-2020',
  'z_Exp.Date': '25-10-2020'},
 '1023': {'a_name': 'Silk',
  'company': 'Cadbury',
  'price': '250',
  'quantity': 789,
  'y_Mfg.Date': '14-10-2020',
  'z_Exp.Date': '28-10-2021'},
 '1024': {'a_name': 'Mon Cheri',
  'company': 'Ferrero',
  'price': '142',
  'quantity': 943,
  'y_Mfg.Date': '06-02-2020',
  'z_Exp.Date': '09-07-2020'},
 '1025': {'a_name': 'Melto',
  'company': 'Campco',
  'price': '97',
  'quantity': 977,
  'y_Mfg.Date': '22-11-2020',
  'z_Exp.Date': '13-05-2021'},
 '1026': {'a_name': 'Coconut',
  'company': 'ChocOn',
  'price': '41',
  'quantity': 238,
  'y_Mfg.Date': '18-09-2020',
  'z_Exp.Date': '27-12-2020'},
 '1027': {'a_name': 'Toffichoo',
  'company': 'CandyMan',
  'price': '58',
  'quantity': 451,
  'y_Mfg.Date': '02-02-2020',
  'z_Exp.Date': '09-11-2020'},
 '1028': {'a_name': 'Fruit Drop',
  'company': 'Parle',
  'price': '72',
  'quantity': 752,
  'y_Mfg.Date': '11-10-2020',
  'z_Exp.Date': '16-06-2021'},
 '1029': {'a_name': 'Turbo',
  'company': 'Campco',
  'price': '147',
  'quantity': 369,
  'y_Mfg.Date': '12-10-2020',
  'z_Exp.Date': '12-08-2021'},
 '1030': {'a_name': 'Milky bar',
  'company': 'Cadbury',
  'price': '86',
  'quantity': 208,
  'y_Mfg.Date': '04-12-2020',
  'z_Exp.Date': '19-10-2021'}}

***Sales File Overwiew***

In [95]:
sales

{1: {'Transaction': {1: {'Amount': 210,
    'ID': '1010',
    'Purchase Time': 'Mon Sep  6 12:33:09 2021',
    'Quantity': 1,
    'User Contact': 'XXXXXXX123'},
   2: {'Amount': 147,
    'ID': '1029',
    'Purchase Time': 'Mon Sep  6 12:33:16 2021',
    'Quantity': 1,
    'User Contact': 'XXXXXXX123'}}},
 2: {'Transaction': {1: {'Amount': 60,
    'ID': '1019',
    'Purchase Time': 'Mon Sep  6 12:34:03 2021',
    'Quantity': 2,
    'User Contact': 'XXXXXXXX897'},
   2: {'Amount': 72,
    'ID': '1028',
    'Purchase Time': 'Mon Sep  6 12:34:08 2021',
    'Quantity': 1,
    'User Contact': 'XXXXXXXX897'}}},
 3: {'Transaction': {1: {'Amount': 360,
    'ID': '1003',
    'Purchase Time': 'Mon Sep  6 13:17:46 2021',
    'Quantity': 3,
    'User Contact': 'XXXXXXX457'},
   2: {'Amount': 60,
    'ID': '1019',
    'Purchase Time': 'Mon Sep  6 13:17:58 2021',
    'Quantity': 2,
    'User Contact': 'XXXXXXX457'},
   3: {'Amount': 325,
    'ID': '1021',
    'Purchase Time': 'Mon Sep  6 13:18:09 2021',
    'Quantity': 5,
    'User Contact': 'XXXXXXX457'}}},
 4: {'Transaction': {1: {'Amount': 258,
    'ID': '1030',
    'Purchase Time': 'Mon Sep  6 13:19:45 2021',
    'Quantity': 3,
    'User Contact': 'XXXXXXX369'},
   2: {'Amount': 144,
    'ID': '1028',
    'Purchase Time': 'Mon Sep  6 13:19:51 2021',
    'Quantity': 2,
    'User Contact': 'XXXXXXX369'},
   3: {'Amount': 485,
    'ID': '1025',
    'Purchase Time': 'Mon Sep  6 13:20:34 2021',
    'Quantity': 5,
    'User Contact': 'XXXXXXX369'},
   4: {'Amount': 42,
    'ID': '1017',
    'Purchase Time': 'Mon Sep  6 13:20:49 2021',
    'Quantity': 1,
    'User Contact': 'XXXXXXX369'}}},
 5: {'Transaction': {1: {'Amount': 130,
    'ID': '1021',
    'Purchase Time': 'Mon Sep  6 13:21:54 2021',
    'Quantity': 2,
    'User Contact': 'XXXXXXX418'}}},
 6: {'Transaction': {1: {'Amount': 102,
    'ID': '1011',
    'Purchase Time': 'Mon Sep  6 13:22:48 2021',
    'Quantity': 2,
    'User Contact': 'XXXXXXX555'},
   2: {'Amount': 60,
    'ID': '1016',
    'Purchase Time': 'Mon Sep  6 13:22:54 2021',
    'Quantity': 4,
    'User Contact': 'XXXXXXX555'}}},
 7: {'Transaction': {1: {'Amount': 78,
    'ID': '1020',
    'Purchase Time': 'Mon Sep  6 13:25:32 2021',
    'Quantity': 1,
    'User Contact': 'XXXXXXX154'}}},
 8: {'Transaction': {1: {'Amount': 58,
    'ID': '1027',
    'Purchase Time': 'Mon Sep  6 13:26:22 2021',
    'Quantity': 1,
    'User Contact': 'XXXXXXX749'}}}}